body {
  	background-image: url(resume.jpg);
	max-height: 100%;
	max-width: 100%;
	font-family:serif;
}

div{
	text-align:right;
}

h2{
	text-align:center;
}

h4{
	text-decoration: underline;
}
ul{
	list-style-type: square;
}

p.title{
	font-weight: bold;
}

p.footnote{
	font-style: italic;
}
