body {
	background-image: pineapple.jpg;
	background-repeat: repeat-y;
	background-repeat: repeat-x;
	background-color:#ffcaf7;
	font-family:Arial;
	border: 5px solid #11d5db
}

div{
	text-align: center;
}

h2{
	text-align: center;
}
